<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button icon="chevron-back-outline" text=''></ion-back-button>
    </ion-buttons>
    <ion-buttons slot="start" size="large" routerLink='/menu' routerDirection="root">
      <ion-icon name="menu-sharp"></ion-icon>
    </ion-buttons>
    <ion-buttons slot="end" routerLink ="/login" routerDirection="forward">
      <ion-icon name="person-outline"></ion-icon>
    </ion-buttons>
    <ion-button slot="end" routerLink='/panier' routerDirection="forward">
      <ion-icon name="cart-outline"></ion-icon>
    </ion-button>
    <ion-title>
      E-Selled
    </ion-title>
  </ion-toolbar>
  <ion-toolbar>
    <ion-searchbar placeholder="Que recherchez-vous ?" (ionChange) = 'recherche($event)'></ion-searchbar>
  </ion-toolbar>
</ion-header>


<ion-content>
  <ion-list *ngFor="let produit of filtreProduits">
    <ion-item button = false (click)="detail(produit)" detail = false>
      <ion-col>
        <img src ={{produit.image}}/>
        <h6 class = "ion-text-left">{{produit.nom}}</h6>
        <h6 class ="ion-text-right">{{produit.prix}}€</h6>
      </ion-col>
    </ion-item>
  </ion-list>
</ion-content>
