<ion-content>

  <ion-row class="logo">
      <ion-col size="12" class="ion-align-self-center">
          <img src="assets/img/cdis.png" alt="">
      </ion-col>
  </ion-row>
  <ion-row class="form">
    <ion-col class="text" size="12">
      <h4>Identifiez-vous</h4>
  </ion-col>
    <ion-col size="12">
      <ion-item>
        <ion-label position="floating">Adresse Email</ion-label>
        <ion-input type="email"></ion-input>
      </ion-item>
      <ion-item>
        <ion-label position="floating">Mot de passe</ion-label>
        <ion-input type="password"></ion-input>
      </ion-item>
    </ion-col>
    <ion-col>
      <ion-button class="logBtn"expand="block">Connexion</ion-button>
    </ion-col>
    <ion-col size="12">
      <p><a routerLink="/register">Créer un compte</a></p>
  </ion-col>
  </ion-row>
      
</ion-content>