<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button icon="chevron-back-outline" text=''></ion-back-button>
    </ion-buttons>
    <ion-buttons slot="start" size="large" routerLink='/menu' routerDirection="root">
      <ion-icon name="menu-sharp"></ion-icon>
    </ion-buttons>
    <ion-buttons slot="end" routerLink ="/login" routerDirection="forward">
      <ion-icon name="person-outline"></ion-icon>
    </ion-buttons>
    <ion-button slot="end" routerLink='/panier' routerDirection="forward">
      <ion-icon name="cart-outline"></ion-icon>
    </ion-button>
    <ion-title>
      E-Selled
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-col class="form">
    <img src = {{data.image}} />
    <h3>{{data.nom}}</h3>
    <p class="ion-text-right">{{data.prix}}€</p>
    <ion-button button = true class="logBtn" (click) = "addPanier()">
      Ajouter au panier
    </ion-button>
  </ion-col>
</ion-content>
