<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start" size="large" routerLink='/menu' routerDirection="root">
      <ion-icon name="menu-sharp"></ion-icon>
    </ion-buttons>
    <ion-buttons slot="end" routerLink ="/login" routerDirection="forward">
      <ion-icon name="person-outline"></ion-icon>
    </ion-buttons>
    <ion-button slot="end" routerLink='/panier' routerDirection="forward">
      <ion-icon name="cart-outline"></ion-icon>
    </ion-button>
    <ion-title>
      E-Selled
    </ion-title>
  </ion-toolbar>
  <ion-toolbar>
    <ion-searchbar placeholder="Que recherchez-vous ?" (ionChange) = 'recherche($event)'></ion-searchbar>
  </ion-toolbar>
</ion-header>

<ion-content>

  <div class="ion-padding">
    <ion-list>
      <ion-item *ngFor="let produit of produits" button = true detail=false>
        {{produit.nom}}
      </ion-item>
    </ion-list>
  </div>

  <!--<div class="title ion-padding">
    <h2 class="font-bold">Produit en vente</h2>
  </div>

  <div class="produit-slider ion-padding-start">
    <ion-slides [options]="{ slidesPerView: 'auto', zoom: false, grabCursor: true }">
      <ion-slide *ngFor="let produit of produits">
        <ion-col class="ion-text-left" routerLink="/item-details" routerDirection="forward">
          <img src="{{ produit.image }}" />
          <h6>{{ produit.nom }}</h6>
          <p>{{ produit.prix }}€</p>
        </ion-col>
      </ion-slide>
    </ion-slides>
  </div>-->

  <div class="title ion-padding">
    <h2 class="font-bold">Meilleures Ventes</h2>
  </div>

  <div class="produit-slider ion-padding-start">
    <ion-slides [options]="{ slidesPerView: 'auto', zoom: false, grabCursor: true }">
      <ion-slide *ngFor="let produit of BestSellProduits">
        <ion-col class="ion-text-left" routerLink="/produit" (click)="detail($event)">
          <img src="{{ produit.image }}" />
          <h6>{{ produit.nom }}</h6>
          <p>{{ produit.prix }}€</p>
        </ion-col>
      </ion-slide>
    </ion-slides>
  </div>
</ion-content>
