<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start" size="large">
        <ion-icon name="menu-sharp"></ion-icon>
      </ion-buttons>
    <ion-buttons slot="end">
      <ion-icon name="person-outline"></ion-icon>
    </ion-buttons>
    <ion-button slot="end">
      <ion-icon name="cart-outline"></ion-icon>
    </ion-button>
    <!--<ion-title>
      Blank
    </ion-title>-->
  </ion-toolbar>
  <ion-searchbar placeholder="Que recherchez-vous ?"></ion-searchbar>
</ion-header>

<ion-content>
  <div class="title ion-padding">
    <h2>Catégories</h2>
  </div>

  <div class="categorie-slider ion-padding-start">
    <ion-slides [options]="{ slidesPerView: 'auto', zoom: false, grabCursor: true }">
      <ion-slide *ngFor="let categorie of categories">
        <ion-col>
          <h4>{{ categorie.name }}</h4>
        </ion-col>
      </ion-slide>
    </ion-slides>
  </div>

  <div class="title ion-padding">
    <h2 class="font-bold">Featured</h2>
    <p>See all</p>
  </div>

  <div class="product-slider ion-padding-start">
    <ion-slides [options]="{ slidesPerView: 'auto', zoom: false, grabCursor: true }">
      <ion-slide *ngFor="let product of featuredProducts">
        <ion-col class="ion-text-left" routerLink="/item-details" routerDirection="forward">
          <img src="{{ product.image }}" />
          <p>${{ product.price }}</p>
          <h6>{{ product.name }}</h6>
        </ion-col>
      </ion-slide>
    </ion-slides>
  </div>

  <div class="title ion-padding">
    <h2 class="font-bold">Best Sell</h2>
    <p>See all</p>
  </div>

  <div class="product-slider ion-padding-start">
    <ion-slides [options]="{ slidesPerView: 'auto', zoom: false, grabCursor: true }">
      <ion-slide *ngFor="let product of bestSellProducts">
        <ion-col class="ion-text-left" routerLink="/item-details" routerDirection="forward">
          <img src="{{ product.image }}" />
          <p>${{ product.price }}</p>
          <h6>{{ product.name }}</h6>
        </ion-col>
      </ion-slide>
    </ion-slides>
  </div>
</ion-content>
