<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      E-Comm
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-searchbar animated></ion-searchbar>
  <ion-item>
    <ion-thumbnail slot="start">
      <img src="https://gravatar.com/avatar/dba6bae8c566f9d4041fb9cd9ada7741?d=identicon&f=y">
    </ion-thumbnail>
    <ion-label>Titre</ion-label>
    <ion-label>Prix</ion-label>
    <ion-label><ion-button>Buy</ion-button></ion-label>
  </ion-item>
</ion-content>
